# .NET
bin/
obj/
*.user
*.suo
*.vs/
*.DotSettings
*.nupkg
**/[Rr]elease/

# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.flutter-plugins
.flutter-plugins-dependencies
*.lock

# IDE
.vs/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
appsettings.Staging.json
appsettings.Production.json
